# Node modules
node_modules/

# Environment variables
.env

# Puppeteer cache (VERY IMPORTANT)
.cache/
.cache/puppeteer/

# Output certificates (optional)
output/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*